{#
/**
 * Uptime Robot plugin for Craft CMS
 *
 * Uptime RobotWidget Body
 *
 * @author    Fred Carlsen
 * @copyright Copyright (c) 2016 Fred Carlsen
 * @link      http://sjelfull.no
 * @package   UptimeRobot
 * @since     1.0.0
 */
#}

<div class="uptimerobot-widget-spinner spinner" id="js-uptimeRobotSpinner"></div>
<!-- /.spinner -->
<div class="uptimerobot-widget-uptime hidden">
    <span id="js-uptimeRobotUptime" class="uptimerobot-widget-uptime-number"></span>
    <span class="uptimerobot-widget-uptime-description">Uptime</span>
</div>
<!-- /.uptimerobot-widget-uptime -->

<div class="uptimerobot-widget-log hidden">
    <ul class="uptimerobot-widget-log__list" id="js-uptimeRobotLog"></ul>
    <!-- /#js-uptimeRobotLog.uptimerobot-widget-log__list -->
</div>
<!-- /.uptimerobot-widget-uptime -->